*.*~
src/qt-gui/qt-gui.app
src/qt-gui/qt-gui.xcodeproj
src/qt-gui/Info.plist
src/qt-gui/build
moc_*
*.moc
*.d
*.o
test_Avatar
Makefile.local
src/qt-gui/qt-gui.pro.local
Makefile.site
autom4te.cache/*
build/*
config.log
config.status
.DS_Store
*~